# Bytecode Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Variables d'environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# PuLP
*.lp
*.mps
